@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
body{
    overflow-x: hidden;
}

.header{
    overflow: hidden;
    background-color: #fab728;
    color: rgb(255, 254, 254);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;
    transition: height ease-in-out 0.3s;
    height: 60px;
}

#diagonal-bars-header{
    width:90px;
    user-select: none;
    -webkit-user-drag: none;
    height: 100%;
    overflow: hidden;
}

.navbar {
    float: right;
    height: 100%;
    margin-right: 15vw;
    font-family: 'Roboto Condensed', sans-serif;
}

.title{
    float: left;
    display: inline;
    transition: font-size ease-in-out 0.5s;
    font-family: 'Barlow Condensed', sans-serif;
    color: #000000;
    width: 25vw;
    background-color: #ffffff;
    text-align: right;
    padding: 15px;
    line-height: 30px;
    font-size: 20px;
}

